<% if (isAuthenticated) { %>
    <form action="/cart" method="POST" class="add-to-cart-form">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="productId" value="<%= product._id %>">

        <div class="quantity-selector">
            <label for="quantity-<%= product._id %>">Qty:</label>
            <select name="quantity" id="quantity-<%= product._id %>" class="quantity-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <button class="btn" type="submit">Add to Cart</button>
    </form>
    <% } %>